.footer__wrap {
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-style: normal;
    gap: 20px;
}

.content p {
    min-width: max-content;
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.content span {
    color: aqua;
}

.content p a {
    text-decoration: underline;
    color: hsl(237, 44%, 57%);
}