body {
  background-color: #f0f8ff;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  max-height: 100vh;
}