.home_wrap {
  margin: auto;
}

.container {
  margin-top: 80px;
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.container h1 {
  color: #0059ff;
  font-size: 24px;
  text-align: center;
}

.container p {
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0;
}

.highlight {
  color: #00a6ff;
  font-weight: bold;
}

.note {
  background: #cfeef1;
  padding: 10px;
  border-left: 4px solid #004cff;
  border-radius: 5px;
  font-style: italic;
}

.container section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.container button {
  padding: 10px;
  background: linear-gradient(to right, rgb(249, 224, 255), rgb(203, 252, 224));
  border: 1px solid #004cff;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
  color: rgb(146, 142, 247);
  font-weight: bold;
}

.container button:hover {
  transform: scale(1.1);
  cursor: pointer;
}